@inject NavigationManager navigationManager;
<div class="row">
    <div class="col-12">
        @if (category is not null)
        {
            <EditForm Model="@category" OnValidSubmit="@OnValidation">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <div class="form-group">
                    <label for="name">Name</label>
                    <InputText id="name" @bind-Value="@category.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="desk">Description</label>
                    <InputTextArea id="desk" @bind-Value="@category.Description" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" @onclick="OnClickCancel">Cancel</button>
            </EditForm>
        }
    </div>
</div>

@code {
    [Parameter]
    public Category category { get; set; }
    [Parameter]
    public Action OnValidation { get; set; }

    private void OnClickCancel()
    {
        navigationManager.NavigateTo("/categoryes");
    }
}
